@charset "ISO-8859-1";


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0080c0;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffff;
  text-decoration: none;
}

.navbar {
    background:#0080c0;
    text-decoration:none;
}

.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.right-menu {
 
  float: right;
}
.right-panel-button1, .right-panel-button2, .right-panel-button3{
	width: 35px;
  	height: 5px;
  	background-color: white;
  	margin: 6px 6px 0px 0px;
  	transition: 0.4s;
}
.change .right-panel-button1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .right-panel-button2 {opacity: 0;}

.change .right-panel-button3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.dropdown-menu{
	display: none;
	position: absolute;
	background-color: #c0c0c0;
	min-width: 158px;
	z-index: 1;
}
.dropdown-menu a:hover{
	background-color: #000;
	color: #ffffff;
}
.right-menu:hover .dropdown_menu {
	display:block;
}
.right-menu:hover .nav-right{
	background-color: transperant;
}
.sideShow{
	 max-width: 1000px;
	 position: relative;
	 margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
h2
{
font-family:Fantasy;
font-size:40px;
text-align:center;}
h3
{font-family:verdana;
font-size:20px;
text-align:center;	
}
p
{
text-align:right;font-family:arial;font-size:15px;
}
h4
{   font-family:verdana;
	font-size:20px;
}
.page-footer {
	background-color: #0080c0;
}
.footer-copyright{
	background-color: #0080ff;
	color: #ffffff;
}
