<body>
<h2 style="text-align: center;">{{title}}</h2>
<div class="container" [hidden]="submitted" style="width: 400px;">
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name"><b>First Name</b></label>
          <input type="text" class="form-control" id="pfname" required [(ngModel)]="patient.pfname" name="pfname">
        </div>

        <div class="form-group">
          <label for="name"><b>Last Name</b></label>
          <input type="text" class="form-control" id="plname" required [(ngModel)]="patient.plname" name="plname">
        </div>

        <div class="form-group">
          <label for="name"><b>Age</b></label>
          <input type="text" class="form-control" id="age" required [(ngModel)]="patient.age" name="age">
        </div>

        <div class="form-group">
            <label for="name"><b>Gender</b></label>
            <input type="text" class="form-control" id="gender" required [(ngModel)]="patient.gender" name="gender">
        </div>

        <div class="form-group">
            <label for="name"><b>Address</b></label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="patient.address" name="address">
        </div>  

        <div class="form-group">
            <label for="name"><b>Phone Number</b></label>
            <input type="text" class="form-control" id="phoneno" required [(ngModel)]="patient.phoneno" name="phoneno">
        </div>
<br>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
</div>
<div routerLink="/admin" class="btn" routerLinkActive="active">
  <button class="btn btn-dark"><i class="fas fa-backward 2x d-flex justify-content-center">&nbsp;Back to Admin</i></button>
</div>
</div>


<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
</body>
